body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:61px;
}
#u42627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u42628 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
}
#u42629 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:10px;
  width:169px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u42630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u42631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:39px;
}
#u42631 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:10px;
  width:39px;
  height:38px;
}
#u42632 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:23px;
}
#u42634 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:32px;
  width:33px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u42636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u42636 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:6px;
  width:28px;
  height:26px;
}
#u42637 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u42639 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:32px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u42641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u42641 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:6px;
  width:28px;
  height:26px;
}
#u42642 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u42644 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:32px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u42646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u42646 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:6px;
  width:28px;
  height:26px;
}
#u42647 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u42649 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:32px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u42651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u42651 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:6px;
  width:28px;
  height:26px;
}
#u42652 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u42654 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:32px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u42656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u42656 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:6px;
  width:28px;
  height:26px;
}
#u42657 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u42659 {
  border-width:0px;
  position:absolute;
  left:747px;
  top:32px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u42661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u42661 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:6px;
  width:28px;
  height:26px;
}
#u42662 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u42664 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:32px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u42666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u42666 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:6px;
  width:28px;
  height:26px;
}
#u42667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:23px;
}
#u42669 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:32px;
  width:97px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u42671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u42671 {
  border-width:0px;
  position:absolute;
  left:1139px;
  top:6px;
  width:28px;
  height:26px;
}
#u42672 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u42674 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:32px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u42676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u42676 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:6px;
  width:28px;
  height:26px;
}
#u42677 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u42679 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:32px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u42681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u42681 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:6px;
  width:28px;
  height:26px;
}
#u42682 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u42684 {
  border-width:0px;
  position:absolute;
  left:1227px;
  top:32px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u42686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u42686 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:6px;
  width:28px;
  height:26px;
}
#u42687 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u42688 {
  border-width:0px;
  position:absolute;
  left:1361px;
  top:20px;
  width:57px;
  height:20px;
  color:#FFFFFF;
}
#u42689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u42690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:965px;
}
#u42690 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:229px;
  height:964px;
}
#u42691 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:474px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:965px;
}
#u42692 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:60px;
  width:18px;
  height:964px;
}
#u42693 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:474px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:11px;
}
#u42694 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:503px;
  width:21px;
  height:10px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u42695 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:44px;
}
#u42696 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:202px;
  width:139px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u42697 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u42698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:44px;
}
#u42698 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:202px;
  width:139px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u42699 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u42700 {
  border-width:0px;
  position:absolute;
  left:1301px;
  top:202px;
  width:139px;
  height:43px;
}
#u42700_input {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u42701 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:270px;
  width:1147px;
  height:65px;
}
#u42702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:31px;
}
#u42702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:30px;
}
#u42703 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:224px;
  word-wrap:break-word;
}
#u42704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:31px;
}
#u42704 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:0px;
  width:228px;
  height:30px;
}
#u42705 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:224px;
  word-wrap:break-word;
}
#u42706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:31px;
}
#u42706 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:0px;
  width:228px;
  height:30px;
}
#u42707 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:224px;
  word-wrap:break-word;
}
#u42708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:31px;
}
#u42708 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:0px;
  width:228px;
  height:30px;
}
#u42709 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:224px;
  word-wrap:break-word;
}
#u42710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:31px;
}
#u42710 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:0px;
  width:230px;
  height:30px;
}
#u42711 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:226px;
  word-wrap:break-word;
}
#u42712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:31px;
}
#u42712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:228px;
  height:30px;
}
#u42713 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:224px;
  word-wrap:break-word;
}
#u42714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:31px;
}
#u42714 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:30px;
  width:228px;
  height:30px;
}
#u42715 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:224px;
  word-wrap:break-word;
}
#u42716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:31px;
}
#u42716 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:30px;
  width:228px;
  height:30px;
}
#u42717 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:224px;
  word-wrap:break-word;
}
#u42718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:31px;
}
#u42718 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:30px;
  width:228px;
  height:30px;
}
#u42719 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:224px;
  word-wrap:break-word;
}
#u42720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:31px;
}
#u42720 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:30px;
  width:230px;
  height:30px;
}
#u42721 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:226px;
  word-wrap:break-word;
}
#u42722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:141px;
}
#u42724 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:355px;
  width:240px;
  height:140px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u42725 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:236px;
  word-wrap:break-word;
}
#u42726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:26px;
}
#u42726 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:450px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u42727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u42728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u42728 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:453px;
  width:20px;
  height:20px;
}
#u42729 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u42730 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:450px;
  width:41px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u42731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u42732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u42732 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:365px;
  width:55px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u42733 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u42734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:141px;
}
#u42736 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:355px;
  width:240px;
  height:140px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u42737 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:236px;
  word-wrap:break-word;
}
#u42738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:26px;
}
#u42738 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:450px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u42739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u42740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u42740 {
  border-width:0px;
  position:absolute;
  left:723px;
  top:453px;
  width:20px;
  height:20px;
}
#u42741 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u42742 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:450px;
  width:41px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u42743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u42744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u42744 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:365px;
  width:55px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u42745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u42746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:141px;
}
#u42748 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:355px;
  width:240px;
  height:140px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u42749 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:236px;
  word-wrap:break-word;
}
#u42750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u42750 {
  border-width:0px;
  position:absolute;
  left:1023px;
  top:453px;
  width:20px;
  height:20px;
}
#u42751 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u42752 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:450px;
  width:41px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u42753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u42754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u42754 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:365px;
  width:55px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u42755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u42756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
}
#u42756 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:451px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u42757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u42758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:141px;
}
#u42760 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:355px;
  width:240px;
  height:140px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u42761 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:236px;
  word-wrap:break-word;
}
#u42762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u42762 {
  border-width:0px;
  position:absolute;
  left:1324px;
  top:453px;
  width:20px;
  height:20px;
}
#u42763 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u42764 {
  border-width:0px;
  position:absolute;
  left:1346px;
  top:450px;
  width:41px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u42765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u42766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u42766 {
  border-width:0px;
  position:absolute;
  left:1293px;
  top:365px;
  width:55px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u42767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u42768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
}
#u42768 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:451px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u42769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u42770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42771 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:141px;
}
#u42772 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:525px;
  width:240px;
  height:140px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u42773 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:236px;
  word-wrap:break-word;
}
#u42774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u42774 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:623px;
  width:20px;
  height:20px;
}
#u42775 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:26px;
}
#u42776 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:620px;
  width:41px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u42777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u42778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:26px;
}
#u42778 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:535px;
  width:55px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u42779 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u42780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
}
#u42780 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:621px;
  width:91px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u42781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u42782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:45px;
}
#u42782 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:229px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u42783 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:225px;
  word-wrap:break-word;
}
#u42785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:61px;
}
#u42785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:60px;
}
#u42786 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
}
#u42788 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:10px;
  width:169px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u42789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u42790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:39px;
}
#u42790 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:10px;
  width:39px;
  height:38px;
}
#u42791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:23px;
}
#u42793 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:32px;
  width:33px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u42795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u42795 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:6px;
  width:28px;
  height:26px;
}
#u42796 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u42798 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:32px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u42800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u42800 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:6px;
  width:28px;
  height:26px;
}
#u42801 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
}
#u42803 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:32px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u42805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u42805 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:6px;
  width:28px;
  height:26px;
}
#u42806 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u42808 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:32px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u42810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u42810 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:6px;
  width:28px;
  height:26px;
}
#u42811 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u42813 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:32px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u42815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u42815 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:6px;
  width:28px;
  height:26px;
}
#u42816 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u42818 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:32px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u42820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u42820 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:6px;
  width:28px;
  height:26px;
}
#u42821 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:23px;
}
#u42823 {
  border-width:0px;
  position:absolute;
  left:1040px;
  top:32px;
  width:97px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u42825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u42825 {
  border-width:0px;
  position:absolute;
  left:1074px;
  top:6px;
  width:28px;
  height:26px;
}
#u42826 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u42828 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:32px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u42829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u42830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u42830 {
  border-width:0px;
  position:absolute;
  left:952px;
  top:6px;
  width:28px;
  height:26px;
}
#u42831 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42832 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u42833 {
  border-width:0px;
  position:absolute;
  left:1294px;
  top:6px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u42834 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u42835 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:34px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u42836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u42837 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
}
#u42838 {
  border-width:0px;
  position:absolute;
  left:1187px;
  top:2px;
  width:73px;
  height:16px;
  color:#FFFFFF;
}
#u42839 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u42840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:21px;
}
#u42840 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:18px;
  width:51px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u42841 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u42842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
}
#u42842 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:38px;
  width:47px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u42843 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u42844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u42845 {
  border-width:0px;
  position:absolute;
  left:1360px;
  top:34px;
  width:57px;
  height:20px;
  color:#FFFFFF;
}
#u42846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u42847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u42847 {
  border-width:0px;
  position:absolute;
  left:1375px;
  top:6px;
  width:28px;
  height:28px;
  color:#FFFFFF;
}
#u42848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:44px;
}
#u42849 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:202px;
  width:139px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u42850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u42851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:44px;
}
#u42851 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:202px;
  width:139px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u42852 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
#u42853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:44px;
}
#u42853 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:202px;
  width:139px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u42854 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:135px;
  word-wrap:break-word;
}
